﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div style="text-align:center;padding-top:100px">
    <div id="view" class="demo-section k-content">
        <form data-role="validator">
            <label  for="fullname" class="required">What's your name?</label>
            <input type="text" maxlength="250" data-bind="value: Name" class="k-textbox" placeholder="Full name" required="required"  />
            <button type="button" id="save" class="SubmitButton" data-bind="events: {click: register}">Enter</button>
            </form>
        </div>
    </div>
<script>
   
    var viewModel = kendo.observable({
        Name: "",
        register: function (e) {
            e.preventDefault();
            var validator = $("#view").kendoValidator().data("kendoValidator");
          
                if (validator.validate()) {
                    $.ajax({
                        url: "/Home/PostData",
                        dataType: "json",
                        type: "Post",
                        data: { name: viewModel.Name },
                        success: function (data) {
                            window.location.href = data;

                        }
                    });
                }
               
           
        }
    });
    kendo.bind($("#view"), viewModel);
</script>