

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

/*body
{
    padding-top: 50px;
    font-family: Arial Unicode MS;
}*/

/*
 * Global add-ons
 */

.sub-header
{
    padding-bottom: 10px;
    border-bottom: 2px solid #676767;
    padding-top: 20px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar
{
    display: none;
}

@media (min-width: 768px)
{
    .sidebar
    {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        padding: 20px 20px 20px;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */

.nav-sidebar
{
    margin-left: -20px;
    margin-right: -21px;
    margin-bottom: 20px;
}

.nav-sidebar > li > a
{
    padding-left: 20px;
    padding-right: 20px;
    color: #0082b3;
    text-decoration: none;
}

.nav-sidebar > .active > a
{
    color: #fff;
    background-color: #0082b3;
}

.nav > li > a:hover,
.nav > li > a:focus
{
    text-decoration: none;
    background-color: #ccc;
}

/*
 * Main content
 */

.main
{
    padding: 20px;
}

@media (min-width: 768px)
{
    .main
    {
        padding-left: 40px;
        pading-right: 40px;
    }
}

.main .page-header
{
    margin-top: 0;
    border-bottom: 2px solid #676767;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders
{
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4
{
    margin-bottom: 0;
}

.placeholder
{
    margin-bottom: 20px;
}

.placeholder img
{
    border-radius: 50%;
}

.swatch-holder
{
    width: 88px;
    height: 88px;
    padding: 5px;
    margin: 10px;
}

.swatch-wrap
{
    border: 1px solid #ccc;
    width: 100px;
    height: 150px;
    display: inline-table;
}

.body-copy
{
    font-family: "Arial Unicode MS", Arial, Helvetica, Sans-Serif;
    font-size: 1em;
    line-height: 1.125em;
    font-weight: normal;
    color: #676767;
    background-color: #FFFFFF;
}

.h1
{
    font-size: 1.6em;
    color: #0082b3;
    line-height: 0;
}

.h2
{
    color: #8dc73f;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 0;
}

.h3
{
    color: #0082b3;
    font-size: 1.15em;
    border-top: 3px solid #8dc73f;
    padding: .2em 30px .2em 0;
    margin: .5em 0 .7em;
}

.h4
{
    font-size: 1em;
    line-height: 0;
}

.cssCode
{
    font-size: .75em;
    text-align: left;
    margin-bottom: 10px;
}

.rowRule
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 2px;
}

.link
{
    font-family: Arial Unicode MS;
    font-size: 1em;
    color: #0082b3;
    text-decoration: underline;
}

body
{
    font-family: "Arial Unicode MS", Arial, Helvetica, Sans-Serif;
    font-size: 16px;
    line-height: 1.125em;
    font-weight: normal;
    color: #676767;
    background-color: #FFFFFF;
    padding-top: 30px;
}

table
{
    border-collapse: separate;
    font-size: 1em;
}

table.border td
{
    border: 1px #cccccc solid;
}

TFOOT, THEAD
{
    font-size: .85em;
    color: #0082b3;
}

img.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.bottom-border
{
    border-bottom: 1px solid #eee;
    padding: 0 0 10px 0;
}

.rule-below
{
    font-size: 1.15em;
    padding: 0 0 .2em 0;
    margin: 0 0 1.5em 0;
    border-bottom: 3px solid #8dc73f;
    color: #0082B3;
}

label
{
    padding: 0px 10px 0 5px;
    font-weight: normal;
    font-size: 1em;
}

textarea
{
    padding: 2px 6px;
    font-size: 1em;
    line-height: 1.428571429;
    color: #555555;
    margin: 2px 0;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input
{
    height: 30px;
    padding: 2px 6px;
    font-size: 1em;
    line-height: 1.428571429;
    color: #555555;
    margin: 2px 0;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type='text']
{
    height: 30px;
    padding: 2px 6px;
    font-size: 1em;
    line-height: 1.428571429;
    color: #555555;
    margin: 2px 0;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type='image']
{
    width: 30px;
    height: 30px;
    padding: 6px;
    margin: 0 5px;
    border: none;
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0.075);
    background-color: transparent;
}

input[type='checkbox']
{
    margin-right: 5px;
    color: #696969;
    margin-top: 0px;
    line-height: normal;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    border: 0;
    background-color: transparent;
}

input[type="file"]
{
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 34px;
    margin: 5px 15px 5px 0;
    text-shadow: none;
    outline: none;
}

select
{
    height: 30px;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    margin: 2px 0;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input:focus, select:focus, textarea:focus
{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type='file']:focus, input[type='radio']:focus, input[type='checkbox']:focus
{
    outline: 0;
}

INPUT[type="radio"]
{
    margin: 4px 0 0;
    margin-top: 0px;
    line-height: normal;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    border: 0;
    background: transparent;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]
{
    float: none;
    margin-left: -20px;
    background: transparent;
}

input[disabled], select[disabled], textarea[disabled]
{
    background-color: #ddd;
}

a
{
    color: #0082b3;
    text-decoration: none;
}

A:link
{
    color: #0082b3;
    text-decoration: underline;
}

A:visited
{
    color: #0082b3;
}

a:hover,
a:focus
{
    color: #3FA1C6;
    text-decoration: underline;
}

a:focus
{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

A:hover
{
    text-decoration: underline;
    color: #3FA1C6;
}

A:active
{
    outline: none;
}

#BannerTabs
{
    border-top: 1px solid #eee;
}

.BreadCrumbs
{
    color: #0082b3;
    font-size: .85em;
}

/* hyperlink style for the breadcrumbs */

A.BreadCrumbs:link
{
    color: #999999;
    text-decoration: underline;
}

A.BreadCrumbs:visited
{
    color: #999999;
}

A.BreadCrumbs:hover
{
    color: #8dc73f;
    text-decoration: underline;
}

A.BreadCrumbs:active
{
    color: #999999;
    text-decoration: underline;
}

.BreadCrumbSeparator
{
    color: #999999;
}

input::-webkit-input-placeholder
{
    color: #999 !important;
}

input::-moz-placeholder
{
    color: #999 !important;
}

input:-moz-placeholder
{
    color: #999 !important;
}

input:-ms-input-placeholder
{
    color: #999 !important;
}

.PortalFooter
{
    color: #FFFFFF;
    height: 45px;
    position: fixed;
    margin-top: 6px;
    border-top: 3px solid #FFFFFF;
    padding-top: 10px;
    text-align: center;
    font-size: .75em;
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(0,130,179,0.8) 0%, rgba(17, 106, 139,0.8) 100%), url('images/pattern_084.gif');
	background: -moz-linear-gradient(top, rgba(0,130,179,0.8) 0%, rgba(17, 106, 139,0.8) 100%), url('images/pattern_084.gif');
	background: -o-linear-gradient(top, rgba(0,130,179,0.8) 0%, rgba(17, 106, 139,0.8) 100%), url('images/pattern_084.gif');
	background: -ms-linear-gradient(top, rgba(0,130,179,0.8) 0%, rgba(17, 106, 139,0.8) 100%), url('images/pattern_084.gif');
	background: linear-gradient(top, rgba(0,130,179,0.8) 0%, rgba(17, 106, 139,0.8) 100%), url('images/pattern_084.gif');
}

.PortalFooter A
{
    color: #FFFFFF !important;
}

.PortalFooter:before
{
    content: '';
    border-top: 3px solid #8DC73F;
    width: 100%;
    position: absolute;
    top: -6px;
    left: 0;
}

.FooterText
{
    color: #666;
    font-size: .6em;
}

.StepNumber
{
    background: none repeat scroll 0 0 #8dc73f;
    border-radius: 0.8em;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.95em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0 5px;
    text-align: center;
    width: 1.6em;
}

.StepTitle
{
    color: #555;
    font-size: 1em;
    padding-left: 5px;
}

.DropDownBox
{
    height: 30px;
    padding: 2px 6px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.DropDownBox:focus
{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.FormLabel
{
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
}

fieldset
{
    border-color: #dcdcdc;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    margin: 1px 0 20px 10px;
    padding: 2px 10px 10px;
}

legend
{
    background-color: #f8f8ff;
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px 1px 1px 7px;
    color: #757575;
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
    width: auto;
}

.Label
{
    font-weight: normal;
    color: #666;
    font-size: 1em;
}


.CommandButton
{
    color: #0082b3;
    background-color: #eee;
    cursor: pointer;
}

.SubmitButton
{
    background: none repeat scroll 0 0 #0082B3;
    border: 0 solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    height: 34px;
    margin: 5px 15px 5px 0;
    padding: 0 15px;
    text-align: center;
    text-shadow: 1px 1px #333333;
}

.SubmitButton:hover
{
    background: #3FA1C6;
}

A.CommandButton:link
{
    text-decoration: underline;
    color: #0082B3;
}

A.CommandButton:visited
{
    color: #0082B3;
}

A.CommandButton:hover
{
    color: #c00;
    text-decoration: underline;
}

A.CommandButton:active
{
    text-decoration: underline;
    color: #0082B3;
}

.PortalMenuGroupClass
{
    cursor: pointer;
    border-bottom: #333 1px solid;
    border-right: #ababab 1px solid;
    border-left: #333 1px solid;
    border-top: #333 1px solid;
    background: #FFF;
    padding: 2px 5px;
}

.PortalMenu
{
    padding: 5px 0px 0px 5px;
    border-bottom: 3px solid #0082B3;
    margin-top:0px !important;
}

.PortalMenuMainClass
{
    cursor: pointer;
    position: relative;
    overflow: visible;
    color: #777777;
    min-height: 40px;
    z-index: 2;
    bottom: -3px;
}

.PortalMenuTopItem
{
    color: #0082b3;
    padding: 5px 15px 6px;
    bottom: 5px;
}

.PortalMenuTopItemHover
{
    color: #777777;
    padding: 5px 15px 6px;
    bottom: 5px;
}

.PortalMenuTopItemSelected
{
    background: #0082B3 !important;
    color: #FFFFFF !important;
    text-shadow: 1px 1px #333333;
    font-weight: bold;
    padding: 5px 15px 6px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #8DC73F;
    bottom: 3px;
}

.RGrid
{
    cursor: default;
    border: 1px solid #d0d0d0;
}

.RHeadingRow
{
    background-color: #fff;
}

.RHeadingCell
{
    background-color: #fff;
    border-bottom: 2px solid #0082b3;
    border-left: 1px solid #eee;
    padding-bottom: 3px;
}

.RHeadingCellHover
{
    background-color: #eee;
    border-left: 1px solid #ffffff;
}

.RHeadingCellActive
{
    background-color: #eee;
    border-left: 1px solid #ffffff;
}

.RHeadingCellText
{
    cursor: default;
    padding: 2px;
    color: #0082b3;
    text-decoration: underline;
}

.RHeadingCellTextNoUnderline
{
    cursor: default;
    padding: 2px;
    color: #0082be;
    text-decoration: none;
}

.RRow
{
    background-color: #FFF;
    padding: 2px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    line-height: normal;
}

.RRowAlternate
{
    background-color: #f9f9f9;
    padding: 2px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    line-height: normal;
}

.RRow a, .RRowAlternate a
{
    color: #676767;
    text-decoration: none;
}

.RRow a:hover, .RRow a:focus, .RRowAlternate a:hover, .RRowAlternate a:focus
{
    color: #676767;
    text-decoration: none;
}

.DataCellUnderline a
{
    text-decoration: underline;
}

.RRow td.DataCell, .RRowAlternate td.DataCell, RSortedDataCell
{
    cursor: default;
    padding: 2px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.RHoverRow
{
    color: #0082b3;
    text-decoration: underline;
}

.RHoverRow td.DataCell
{
    padding: 2px;
}

.RRow td.LastDataCell
{
    background-color: #C69;
}

.RSelectedRow
{
    padding: 2px;
    vertical-align: top;
}

.RSelectedRow a
{
    color: #676767;
    text-decoration: none;
}

.RSelectedRow td.DataCell
{
    cursor: default;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #C4DEEA;
    color: #555;
    padding: 2px;
}

.wizard-steps
{
    clear: both;
    font-family: "Arial Unicode MS", Arial, Helvetica, Sans-Serif;
    margin: 10px 10px 0;
    padding: 0;
    position: relative;
}

.wizard-steps div
{
    position: relative;
}

.wizard-steps p
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    color: #CCCCCC;
    display: block;
    float: left;
    font-size: .85em;
    line-height: 15px;
    margin: 2px 5px 0 0;
    text-align: center;
    width: 18px;
}

.wizard-steps a
{
    background: none repeat scroll 0 0 #E6E6E6;
    color: #666666;
    display: block;
    float: left;
    font-size: 1em;
    height: 24px;
    line-height: 22px;
    margin-right: 18px;
    padding: 0 10px 0 3px;
    position: relative;
    text-shadow: none;
    width: auto;
    text-decoration: none;
    cursor: text;
}

.wizard-steps a:before
{
    border-bottom: 12px solid #E6E6E6;
    border-left: 12px solid transparent;
    border-top: 12px solid #E6E6E6;
    content: "";
    height: 0;
    left: -12px;
    position: absolute;
    top: 0;
    width: 0;
}

.wizard-steps a:after
{
    border-bottom: 12px solid transparent;
    border-left: 12px solid #E6E6E6;
    border-top: 12px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: -12px;
    top: 0;
    width: 0;
}

.wizard-steps .completed-step a
{
    background: none repeat scroll 0 0 #A3C1C9;
    color: #163038;
    text-decoration: none;
}

.wizard-steps .completed-step a:before
{
    border-bottom: 12px solid #A3C1C9;
    border-top: 12px solid #A3C1C9;
}

.wizard-steps .completed-step a:after
{
    border-left: 12px solid #A3C1C9;
}

.wizard-steps .completed-step p
{
    border: 2px solid #163038;
    color: #163038;
    text-shadow: none;
}

.wizard-steps .active-step a
{
    background: none repeat scroll 0 0 #0082b3;
    color: #ffffff;
    text-shadow: none;
    text-decoration: none;
}

.wizard-steps .active-step a:before
{
    border-bottom: 12px solid #0082b3;
    border-top: 12px solid #0082b3;
}

.wizard-steps .active-step a:after
{
    border-left: 12px solid #0082b3;
}

.wizard-steps .active-step p
{
    border: 2px solid #A3C1C9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    color: #0082b3;
    text-shadow: none;
}

.wizard-steps .non-active-step a
{
    background: none repeat scroll 0 0 #E6E6E6;
    color: #666666;
    text-decoration: none;
}

.wizard-steps .non-active-step a:before
{
    border-bottom: 12px solid #E6E6E6;
    border-top: 12px solid #E6E6E6;
}

.wizard-steps .non-active-step a:after
{
    border-left: 12px solid #E6E6E6;
}

.wizard-steps .completed-step:hover a, .wizard-steps .active-step:hover a
{
    background: none repeat scroll 0 0 #8dc73f;
    color: #FFFFFF;
    text-shadow: none;
    text-decoration: none;
}

.wizard-steps .completed-step:hover p, .wizard-steps .active-step:hover p
{
    color: #8dc73f;
}

.wizard-steps .completed-step:hover a:before, .wizard-steps .active-step:hover a:before
{
    border-bottom: 12px solid #8dc73f;
    border-top: 12px solid #8dc73f;
}

.wizard-steps .completed-step:hover a:after, .wizard-steps .active-step:hover a:after
{
    border-left: 12px solid #8dc73f;
}

