﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

  
    <link href="~/Content/3estyleguide.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.rtl.min.css" rel="stylesheet" />

    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jszip.min.js"></script>
    <script src="~/scripts/kendo.all.min.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p class="PortalMenu h1">Container POC</p>
    </div>
    <div>
        @RenderBody()
    </div>
    <div style="margin-top:0">
        <table class="PortalFooter" style="width: 100%">
            <tbody>
                <tr>
                    <td style="height: 20px;">
                       
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
