﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="view">
    <h3>  Hello <span data-bind="text: CreatedBy"></span>, 
   
    <span data-bind="text: Message"></span>.</h3>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Dashboard/GetData",
            dataType: "json",
            type: "post",
            data: { },
            success: function (data) {
                var dt = data[0];
                kendo.bind($("#view"), dt);
            },
            error: function(data)
            {
                window.location.href = data;
            }
        });
    });
    </script>